.grey-wrapper {
  padding: 56px 50px 20px;
  border-radius: 20px;
  background-color: #f7f7f7;
  height: 632.1px;
  position: relative;
}

.monthly-total-wrapper {
  padding-bottom: 55px;
  margin-bottom: 55px;
  border-bottom: 1px solid #d2d2d2;
}

.total-title {
  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #2f313c;
}

.total-amount {
  margin: 1.4px 40.1px 24.5px 40.1px;
  font-family: Inter;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: -0.75px;
  text-align: center;
  color: #2f313c;
}

.monthly-breakup {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  text-align: center;
  padding: 0 20px;
}

.monthly-breakup .inner:first-child {
  border-right: 1px solid #d2d2d2;
}

.total-subtitle-amount {
  font-family: Inter;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: center;
  color: #2f313c;
}

.total-subtitle {
  margin: 0.2px 12.5px 0;
  font-family: Inter;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #818389;
}

.button-div {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  top: auto;
}

.submit-btn {
  margin: 0 auto;
}

.tr-btn {
  background: none;
  border: none;
  padding: 0;
}

.tr-btn img {
  width: 24px;
  height: 24px;
}

.pricing-icons {
  margin-right: 16px;
  width: 40px;
  height: 40px;
}

.pricing-list {
  padding: 24px 100px 0;
  border-top: 1px solid #ededed;
}

.invoice-set-one,
.invoice-set-two {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}

.invoice-set-one .item-total {
  margin-right: 56px;
  border-bottom: 1px solid #ededed;
}

.item-list .expandable-header {
  display: flow-root;
  margin-bottom: 25px;
}

.invoice-set-two .item-list div {
  display: flow-root;
  margin-bottom: 10px;
}

.item-list .expandable-header:last-child,
.invoice-set-two .item-list div:last-child {
  margin-bottom: 20px;
}

.item-total div {
  padding-top: 20px;
  border-top: 1px solid #ededed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.invoice-set-two .item-total div {
  padding-top: 20px;
}

.invoice-set-two .item-total {
  padding-bottom: 20px;
  border-bottom: 1px solid #ededed;
  margin-right: 56px;
}

.item-sub-list {
  padding-bottom: 20px;
  border-bottom: 1px solid #ededed;
}

.item-sub-list:last-child {
  border: none;
  padding-bottom: 0;
}

.item-list p,
.item-list span,
.item-sub-list p,
.item-sub-list span {
  font-family: Inter;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: -0.6px;
  color: #4d515b;
  float: left;
}

.item-sub-list abbr {
  display: block;
  font-size: 10px;
  margin-top: 2px;
}

.item-list p,
.invoice-set-two .item-list p,
.invoice-set-two .item-list span {
  margin-top: 0.5em;
}

.item-sub-list p,
.item-sub-list span {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: normal;
  color: #2f313c;
  margin: 0;
  margin-top: 20px;
}

.item-list span,
.item-sub-list span {
  float: right;
  display: flex;
  align-items: center;
}

.item-sub-list span {
  margin-right: 56px;
}

.item-total p {
  font-family: Inter;
  font-size: 12px;
  font-weight: normal;
  line-height: 2.33;
  letter-spacing: normal;
  color: #4d515b;
  float: left;
  margin: 0;
}

.item-total span {
  font-family: InterSemiBold;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.21;
  letter-spacing: -1px;
  color: #4d515b;
  float: right;
}

.expand-button {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
  margin-left: 24px;
}

.expandable-content {
  margin-top: 34px;
  margin-bottom: 50px;
}

.item-sub-list {
  display: flow-root;
}

.invoice-set-two .item-list {
  margin-right: 56px;
}

.notes span {
  font-family: Inter;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #818389;
}

.notes {
  margin-bottom: 45px;
}

.notes p {
  font-family: Inter;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #818389;
  margin: 0;
}

.alert-icon {
  margin-right: 16px;
  width: 24px;
  height: 24px;
}

.activeRow {
  background-color: #f7f7f7;
  border-bottom: 0 !important;
}

.table > tbody > tr > td.tdPadding {
  padding: 0 15px 8px!important;
}

.hide {
  display: none;
}

.show {
  display: block;
}

tbody>tr>td {
  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #4d515b;
}

tbody>tr>td:first-child {
  font-family: InterBold;
}

.list-header-main {
  font-family: InterSemiBold;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: -0.75px;
  text-align: left;
  color: #2f313c;
  padding-bottom: 15px;
  border-bottom: 1px solid #ededed;
  margin-bottom: 23px;
  display: flex;
  justify-content: space-between;
}

.expand-icon {
  width: 32px;
  height: 32px;
}

.expand-icon-main {
  width: 24px;
  height: 24px;
  transform: rotate(180deg);
}

.rotate-arrow-oem {
  transform: rotate(0);
}

.rotate-arrow {
  transform: rotate(180deg);
}
